.loader {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__spinner {
    width: 48px;
    height: 48px;
    fill: rgba(8, 126, 164);
}

:global(.dark) .loader__spinner {
    fill: #ffffff;
}