.button {
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

:global(.dark) .button {
    background-color: #ffffff;
    color: #000000;
}

:global(.dark) .button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}