.comment-item {
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.comment-item h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.comment-item p {
    margin-top: 0;
    margin-bottom: 0;
}

.comment-item:not(:last-child) {
    border-bottom: 1px solid #e5e7eb;
}

.comment-item__author {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}