.photo-list__item-wrapper {
    width: calc(25% - (1rem * 4) / 5);
    aspect-ratio: 1 / 1;
    background-color: rgba(8, 126, 164, .1);
}

.photo-list__item {
    width: 100%;
    max-width: 100%;
    display: block;
}