.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(8, 126, 164);
}

.footer__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.footer__link {
    margin-left: auto;
}