body {
    margin: 0;
    min-height: 100vh;
}

body.dark {
    background-color: #000000;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    max-width: 75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}